---
controller_roles:
  - user: {{ _tenant_dispatcher_defaults.launcher_user | to_json }}
    job_template: {{ _effective_dispatcher_job_template | to_json }}
    lookup_organization: Default
    role: execute
    state: present
  - team: {{ _effective_team_name | to_json }}
    job_template: {{ _effective_dispatcher_job_template | to_json }}
    lookup_organization: Default
    role: execute
    state: present
